<template name="registertype">
	<div class="container-fluid">
    <section class="container">
		<div class="container-page" style="margin-top:100px">			
			<div class="col-md-6">
				<div class="form-group col-lg-6"></div>
				<h3 class="dark-grey">Registration Type</h3>
				
				<div class="form-group col-lg-6">
					<a href="/agency/register" class="btn-lg btn-primary" name="agency">Be Agency</a>				
				</div>				
				<div class="form-group col-lg-6">
					<a href="/user/register" class="btn-lg btn-primary" name="agency">Be User</a>				
				</div>	
			</div>
		</div>
	</section>
</div>
</template>